
body {
	font-size: 14px;
}

a {
	text-decoration: none;
}

li {
	line-height: 14px;
	margin-bottom: 6px;
}

h2 {
	font-size: 16px;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

small {
	color: #999;
}

div#main {

	margin: 0px;
}

li#feed {
	margin: 2px;
    width: 570px;
    float:left;
}

li#highlight {
	margin: 2px;
    width: 400px;
    float:left;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin-right: 15px;
}
